.mask1 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: white;
  justify-content: center;
  display: none;
  .head {
    background: #4193fd;
    width: 100%;
    color: white;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 15px;
    z-index: 9999;
  }
  p {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .name1 {
    top: 53%;
    font-size: 24px;
    font-weight: 500;
  }
  .desc1 {
    top: 58%;
    color: #4193fd;
  }
  .data5 {
    bottom: 20%;
    color: #4193fd;
  }

  img {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 30%;
    align-self: center;
  }
}
header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 5% 20% 5% 6%;
  background: #4193fd;
  flex-wrap: wrap;
  .icon-xiangzuojiantou {
    color: white;
    font-weight: 999;
    width: 100%;
    height: 25%;
  }
  .title {
    p:first-child {
      color: rgba(255, 255, 255, 100);
      font-size: 24px;
    }
    p:nth-child(2) {
      color: rgba(170, 217, 247, 100);
      font-size: 20px;
    }
  }
  .ranking {
    position: relative;
    width: 50%;
    p:first-child {
      left: 0;
      position: absolute;
      color: rgba(0, 78, 115, 100);
      font-size: 16px;
      wrap-option: nowrap;
      top: -20%;
    }
    p:nth-child(2) {
      position: relative;
      color: rgba(255, 255, 255, 100);
      font-size: 80px;
      font-weight: bold;
      z-index: 999;
    }
    p:nth-child(3) {
      color: rgb(114, 175, 253);
      font-size: 110px;
      position: absolute;
      font-weight: bold;
      top: 0;
      z-index: 0;
      right: -55%;
    }
  }
}
main {
  flex: 3;
  position: relative;
  ul {
    width: 100%;
    padding: 5%;
    li {
      float: left;
      width: 33.3%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10%;
      display: none;
      img {
        width: 80%;
        margin-bottom: 10%;
      }
    }
  }
}
